<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos os Animais Cadastrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="{{ url_for('auth.logout') }}" class="botoes-btn left-btn">Logout</a>
    <a href="{{ url_for('home.home') }}" class="botoes-btn right-btn">Voltar</a>

    <div class="container">
        <h2>Todos os Animais Cadastrados</h2>

        <div class="animais-container" style="width: 800px;">
            {% for animal in animais %}
            <div class="animal-card">
                {% if animal[2] == 'gato' %}
                    <img src="{{ url_for('static', filename='gato.png') }}" alt="Imagem do Gato" class="animal-img">
                {% elif animal[2] == 'cachorro' %}
                    <img src="{{ url_for('static', filename='cachorro.png') }}" alt="Imagem do Cachorro" class="animal-img">
                {% endif %}
                <h3>{{ animal[1] }}</h3> 
                <p><strong>Espécie:</strong> {{ animal[2] }}</p>
                <p><strong>Raça:</strong> {{ animal[3] }}</p>
                <p><strong>Idade:</strong> {{ animal[4] }} {{ animal[5] }}</p> 
                <p><strong>Descrição:</strong> {{ animal[6] }}</p>
                <p><strong>Status:</strong> {{ animal[7] }}</p>
                <p><strong>Localização:</strong> {{ animal[8] }}</p> 

                {% if current_user.tipo == 'admin' %}
                    <a href="{{ url_for('home.editar_animal', id=animal[0]) }}" class="btn">Editar</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>