<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container-login-registro">
        <img class="patinha" src="{{ url_for('static', filename='patinha.png') }}">
        <h2>Cadastro</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST">
            <input type="text" name="nome" placeholder="Nome" required>
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <input type="hidden" name="tipo" value="usuario">
            <button type="submit">Cadastrar</button>
        </form>
        <a class="link" href="{{ url_for('auth.login') }}">Já tem uma conta? Faça login</a>
    </div>
</body>
</html>
