<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação de Adoção</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container" style="margin-top: 50px;">
        <h2>Solicitação de Adoção</h2>
        <p><strong>Animal:</strong> {{ animal[1] }}</p>

        <form method="post">
            <label for="usuario">Seu Nome:</label>
            <input type="text" id="usuario" name="usuario" value="{{ current_user.nome }}" readonly>

            <button type="submit" class="btn">Confirmar Adoção</button>
        </form>

        <a href="{{ url_for('home.home') }}" class="botoes-btn">Cancelar</a>
    </div>
</body>
</html>
